body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f2f6ff;
  color: #012638;
  text-align: center;
}

header {
  padding: 40px;
  background: #012638;
  color: white;
}

section {
  margin: 40px auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
  background: #012638;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
